/* Globals */

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

* {
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	font-size: 100%;
	font-family: sans-serif;
}

a {
	text-decoration: none;
	color: #eeeddd;
}

h1 {
	font-weight: 500;
}

h2 {
	font-weight: 400;
}

button {
	cursor: pointer;
}

/* remove arrows for nummber spinner */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}
